<div class="page-login">	
	<div class="loginContentWrap" style="padding: 0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
					<div class="text-center">
                        <p>Welcome back, Peter. You can can enter a new password for your account.</p>
					</div>
					<form data-parsley-validate>
                        <div class="form-group">
                            <input id="email" type="email" class="form-control simple-form-control" placeholder="email" autofocus required data-parsley-error-message="Wrong e-mail format" value="peter.vyvey@gmail.com" readonly />
                            <i class="fa fa-envelope"></i>
                        </div>
						<div class="form-group">
							<input id="new-password" type="password" class="form-control simple-form-control" placeholder="your new password" required data-parsley-error-message="You can't leave this empty" />
							<i class="fa fa-lock"></i>
						</div>
						<div class="form-group">
							<input type="password" class="form-control simple-form-control" placeholder="confirm your new password" required data-parsley-error-message="These passwords don't match" data-parsley-equalto="#new-password" />
							<i class="fa fa-lock"></i>
						</div>
						
						<div class="form-group">
							<button type="submit" class="btn btn-orange submit">Sign up</button>
						</div>
					</form>
				</div>
            </div>
        </div>
	</div>
</div>