<div class="page-login">	
	<div class="loginContentWrap" style="padding: 0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                    <form data-parsley-validate>
                        <div class="form-group">
                            <input id="email" type="email" class="form-control simple-form-control" placeholder="email" autofocus required data-parsley-error-message="Wrong e-mail format">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control simple-form-control" placeholder="password" required data-parsley-error-message="Wrong password">
                            <i class="fa fa-lock"></i>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-orange submit">Log In</button>
                        </div>
                    </form>
                    <ul class="more">
                        <li><a data-ui-sref="account.getStarted">Get started</a></li>
                        <li><a data-ui-sref="account.forgotPassword">Forgotten password</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
</div>