    <!-- Header -->
	<header id="header" style="position: fixed; top:0; left: 0; width: 100%;">
		<h1 class="logo">
			<a href="#" title="#" class="js-nav-toggler">
				<i class="icon icon-close"></i>
			</a>
			<a href="#" title="#"><span>taskrunner</span>.io</a>
		</h1>

		<div class="pageContent">
			<div class="container-fluid">
                <div class="col-sm-1 col-sm-offset-10">
                    <button class="btn btn-primary" style="margin-top: 10px;">Get started</button>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-normal" style="margin-top: 10px;">Sign In</button>
                </div>
            </div>
		</div>
	</header>
    